<!--
File Name - index.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->


    <% include main_footer.ejs %>
</main>

<script src="jquery/dist/jquery.slim.min.js"/>
<script src="bootstrap/dist/js/bootstrap.min.js"/>
<script src="javascripts/app.js"/>
</body>
</html>