<!--
File Name - footer.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->


<!--make footer only in home page -->
<% if (title == "Home") { %>
    <footer class="footer mt-auto py-2 fixed-bottom bg-gradient">
        <div class="container">
            <span> Hisham Abu Sanimeh - 301289364</span>
        </div>
    </footer>
<% } else { %>
<% } %>

