<!--
File Name - index.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->


<!DOCTYPE html>
<html>


<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiva="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--    add bootstrap and fortawesome for icon and local css file-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>
    <link rel='stylesheet' href='/assets/css/app.css'/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <% include  main_nav.ejs %>
