<!--
File Name - about.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->

<% if (title == "About") { %>
    <div class="container-fluid-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 about-text">
                    <h1><P>Hisham Abu Sanimeh</P></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 "><img src="/assets/images/hisham.png" style="width: 500px; border-radius: 10px;">
                </div>
                <div class="col-md-6 about-para">
                    <p>
                        Hello
                        <br>
                        I'm Hisham and I'm from Jordan
                        <br>
                        <Middle East>My first language is Arabic and I come to Canada in 6-2-2022
                            <br>

                            I graduated with a bachelor's degree from Petra University majoring in Computer Science.
                            <br>
                            Within my studies, I established my own company for IT solutions in Jordan. I expanded my
                            business to have a team of 15 developers and served more than 20 customers around the world.

                            <br>
                            I worked as Teamleader for Mobile Developers at NoventApp.
                            <br>
                            Currently working as a Senior
                            Android Engineer at Alamar foods Company.
                            <br>

                            And now I started to study Software Engineering Technician (Fast-track) - First Semester
                    </p>
                    <p style="margin-top: 40px; font-size: large;">
                        <a href="/assets/docs/resume.pdf" target="blank">My Resume</a></p>
                </div>
            </div>

        </div>

    </div>

<% } else { %>
<% } %>
  