<!--
File Name - home.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->

<% if (title == "Home") { %>
    <div class="img">
    </div>
    <div class="home-text">
        <r><p>Welcome to my Portfolio</p></r>
        <span>
             <br>
            <p> Personal Portfolio Website
                  <br>
                <br>  COMP229 - Web Application Development
                <br>
                <br>  Node JS - Express
            </p>

      </span>
    </div>

    <div>
        <button type="button" class="btn btn-dark button" onclick="location.href='/about'">About Me</button>
    </div>

<% } else { %>
<% } %>