<!--
File Name - projects.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->


<% if (title == "Projects") { %>
    <div class="container-fluid mt-5">

        <div class="basic-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a>
                                    <img class="img-fluid" src="assets/images/zad.png" alt="alternative">
                                </a>
                            </div>
                            <p><strong>For:</strong> ZadFresh</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a>
                                    <img class="img-fluid" src="assets/images/alhisba.png" alt="alternative">
                                </a>
                            </div> <!-- end of image-container -->
                            <p><strong>For:</strong> Alhisba
                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a>
                                    <img class="img-fluid" src="assets/images/dominos.png" alt="alternative">
                                </a>
                            </div> <!-- end of image-container -->
                            <p><strong>For:</strong> Dominos Pizza
                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a>
                                    <img class="img-fluid" src="assets/images/mobilenoc.png" alt="alternative">
                                </a>
                            </div> <!-- end of image-container -->
                            <p><strong>For:</strong> MobileNoc
                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a>
                                    <img class="img-fluid" src="assets/images/talabat.png" alt="alternative">
                                </a>
                            </div> <!-- end of image-container -->
                            <p><strong>For:</strong> Talabat
                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a>
                                    <img class="img-fluid" src="assets/images/oogoo.png" alt="alternative">
                                </a>
                            </div> <!-- end of image-container -->
                            <p><strong>For:</strong> OOGOO</div>
                    </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>

    </div>
<% } else { %>
<% } %>
  