<!--
File Name - services.ejs
Student Name - Hisham Abu Sanimeh
Student ID - 301289364
Date - 3-06-2022
-->

<% if (title == "Services") { %>
    <div class="container-fluid">


        <div class="services pd">
            <div class="container">
                <h3 class="title">Services</h3>
                <div class="row text-center">
                    <div class="col-md-3">
                        <div class="square"><i class="fas fa-code"></i></div>
                        <div class="serv">
                            <h5>Mobile consulting</h5>
                            <p>
                                The consultants assist with app concept finalization, advise on platform/device compatibility,
                                plan activities, and optimize costs.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="serv">
                            <div class="square"><i class="fas fa-code"></i></div>
                            <h5>Mobile App Development</h5>
                            <p>Having completed 40+ projects,I create and deploy fast, stable & high-performing mobile apps.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="square"><i class="fas fa-code"></i></div>
                        <div class="serv">
                            <h5>Maintenance and support</h5>
                            <p>Maintenance app , compliance, security, and performance management & app evolution.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="square"><i class="fas fa-code"></i></div>
                        <div class="serv">
                            <h5>Mobile app modernization</h5>
                            <p>Skillfully convert websites into mobile apps, redesign architectures, and refactor code in new tech.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<% } else { %>
<% } %>
  